:root {
    /* --primary-color: #0c3464;
    --primary-second-color: #0c34aa;
    --secondary-color: #af4c3c;
    --secondary-second-color: #eb4c3c; */
    --dark-bg: #2c2f33;
    --light-text: #ecf0f1;
    --container-bg: #3a3f44;

    --primary-color: #0F417E;
    --primary-button-color: #124E97;
    --primary-second-button-color: #155BB1;

    --secondary-color: #972F12;
    --secondary-button-color: #972F12;
    --secondary-second-button-color: #B13715;
    /* --primary-color: #0C3464;
    --primary-button-color: #124E97;
    --secondary-color: #641F0C;
    --secondary-button-color: #B13715; */
    user-select: none;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-bg);
    color: var(--light-text);
    font-family: Arial, sans-serif;
}

.header {
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.header img {
    max-width: 80px;
    height: auto;
    border-radius: 50%;
}

.header h1 {
    color: white;
    margin: 0;
    font-size: clamp(1.2rem, 4vw, 1.8rem);
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.welcome {
    text-align: center;
    margin-bottom: 2rem;
}

/***************** SEARCH *****************/
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 1.25rem;
}

.search {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--container-bg);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    width: 100%;
}

.search input {
    flex: 1;
    background-color: #485057;
    color: var(--light-text);
    border: 1px solid #5e676e;
    margin: 0;
    padding-left: 2rem;
    max-width: 100%;
}

.search input::placeholder {
    color: #b0b7bc;
}

.search i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888; /* Color del ícono */
  }

  /***************** /. SEARCH *****************/

  /***************** BUTTONS *****************/
.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 8px;
    background-color: #3B3F44;
    white-space: nowrap;
    
    flex-wrap: nowrap;
    overflow-x: auto;
    border-radius: 16px;
    scrollbar-width: 0.5; /* Para Firefox */
}

.button-group-danger {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.button-group {
    justify-content: flex-start; 
}

.button-group-center{
    display:flex;
    justify-content: center;
    
}

button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 9px 14px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0; 
}

button p {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

button:hover {
    background-color: var(--primary-second-button-color);
}

button.danger {
    background-color: var(--secondary-button-color);
    border-radius: 5px;
}

button.danger:hover {
    background-color: var(--secondary-second-button-color);
}

button i {
    font-size: 1.2rem;
}

/***************** /. BUTTONS *****************/

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .search {
        flex-direction: column;
    }

    .search input {
        width: 100%;
    }

    .button-group, .button-group-danger {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
        max-width: 300px;
    }
}

.search-icon {
    padding-left: 1rem
}